<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Job_Application_Database.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Job_Application_Database.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Job_Application_Database.Properties.Settings>
            <setting name="LastLoadedFile" serializeAs="String">
                <value>Z:\Development\C#\Job Application Database\Job Application Database\jdb.json</value>
            </setting>
            <setting name="AutoLoadLastFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="JobTitles" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoSave" serializeAs="String">
                <value>True</value>
            </setting>
        </Job_Application_Database.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Job_Application_Database.Properties.Settings>
            <setting name="JobSaveFile" serializeAs="String">
                <value>./job.titles</value>
            </setting>
            <setting name="CompanyLoadRegex" serializeAs="String">
                <value>{\"Name\":\"(?&lt;name&gt;[a-zA-Z\\.,\\+ ]+)?\",\"Web\":\"(?&lt;website&gt;.*)?\",\"Rep\":(?&lt;repid&gt;[0-9]+)?,\"Job\":(?&lt;jobid&gt;[0-9]+)?,\"Board\":(?&lt;boardid&gt;[0-9]+)?,\"Position\":(?&lt;position&gt;[0-9]+)?,\"Status\":(?&lt;status&gt;[0-9]+)?,\"AppDate\":\"(?&lt;date&gt;[0-9]+-[0-9]+-[0-9]+)?T00:00:00(-07:00)?\",\"Location\":\"(?&lt;location&gt;[a-zA-Z ,]+)?\",\"Notes\":\"(?&lt;notes&gt;.*)?\"}</value>
            </setting>
            <setting name="RepSaveFile" serializeAs="String">
                <value>./rep.titles</value>
            </setting>
            <setting name="BoardSaveFile" serializeAs="String">
                <value>./job.board</value>
            </setting>
        </Job_Application_Database.Properties.Settings>
    </applicationSettings>
</configuration>